#questionnaire {
    width: calc(20vw + 200px);
}

.question {
    display: flex;
    flex-direction: row;

    margin: 10px;
    font-size: large;
}

.question > * {
    width: fit-content;
}

.question > p {
    margin-right: auto;
}

.question > div {
    display: flex;
    flex-direction: row;

    align-items: center;

    margin-right: 20px;
}

.popup-content {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 15vh;
    
    font-size: large;
    text-align: center;
}